#GitTree-nav {
  display: flex;
  position: sticky;
  top: 0;
  height: 100vh;
}

.GitTree-openNavigator {
  height: 100vh;
  width: 100%;
  cursor: auto;
}

.GitTree-closedNavigator {
  height: max(100vh, 100%);
  width: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4px;
  /* colour variable supplied by github */
  background-color: var(--color-header-bg);
}

.gitTree-actionItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
}

.gitTree-actionItem:hover {
  background-color: var(--color-border-muted);
}

.GitTree-header {
  display: flex;
  align-items: center;
  /* colour variable supplied by github */
  background-color: var(--color-header-bg);
  height: 62px;
  padding-left: 12px;
}

.GitTree-treeContainer {
  border-width: 1px;
  /* colour variable supplied by github */
  border-color: var(--color-border-muted);
  border-style: solid;
  border-radius: 5px;
  /* potentially remove */
  margin: 8px;
}

.GitTree-treeItem {
  display: flex;
  align-items: center;
  height: 38px;
  /* colour variable supplied by github */
  border-bottom-color: var(--color-border-muted);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-left: 16px;
}

.GitTree-marginRight {
  margin-right: 16px;
}

.GitTree-margin {
  margin: 8px;
}

.GitTree-pointer {
  cursor: pointer;
}

.GitTree-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.GitTree-ResizeBorder {
  width: 3px;
  height: max(100vh, 100%);
  cursor: col-resize;
  /* colour variable supplied by github */
  border-right-color: var(--color-border-muted);
  border-right-style: solid;
  border-right-width: 3px;
}

.gitTree-TextHeading {
  font-weight: 600;
  /* colour variable supplied by github */
  color: var(--color-fg-default);
}

.gitTree-Buttons {
  /* colour variable supplied by github */

  border-color: var(--color-btn-border);

  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid;
  border-radius: 6px;
}

.gitTree-Buttons:hover {
  /* colour variable supplied by github */
  background-color: var(--color-btn-hover-bg);
  border-color: var(--color-btn-hover-border);
}

.GitTree-spanButton {
  cursor: pointer;
  color:  var(--color-accent-fg);
}